<form action="">
    <div class="row">
        <div class="col-md-12 text-center p-4">
            <span class="h1">Autoevaluacion del Estudiante</span>
        </div>
        <div class="col-md-6">
            <div class="from-group row from-inline p-4">
                <label for="" class="col-md-2">Fecha</label>
                <div class="col-md-8">
                    <input type="date" name="" id="" class="form-control" required>
                </div>
            </div>
        </div>
        <label for="" class="col-md-2 col-form-label p-2">Practica nivel</label>
        <div class="radio p-2">
            <label><input type="radio" name="optradio">Tecnologo</label>
        </div>
        <div class="radio p-2">
            <label><input type="radio" name="optradio">Nivel profesional</label>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-md-12">
            <label for="" class="col-form-label col-md-2">Modalidad: </label>
            <label class="col-md-3"><input type="checkbox" style="margin-left: 150px" value="">240 hrs</label>
            <label class="col-md-4"><input type="checkbox" style="margin-left: 150px" value="">Contrato aprendizaje</label>
            <label class="col-md-3"><input type="checkbox" style="margin-left: 150px" value="">Objetivos</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label for="" class="col-form-label p-4">Nombre estudiante: </label>
            <input type="text" placeholder="Nombres" style="margin-left: 10px" class="col-md-4" required>
            <input type="text" placeholder="Apellidos" style="margin-left: 50px" class="col-md-4" id="" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="" class="col-form-label p-4">Codigo: </label>
            <input type="text" placeholder="Nombres" style="margin-left: 10px" class="col-md-4" required>
            <label for="" class="col-form-label" style="margin-left: 82px">Email: </label>
            <input type="text" placeholder="Apellidos" style="margin-left: 10px" class="col-md-4" id="" required>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label for="" class="col-form-label p-4">Documento: </label>
            <input type="text" style="margin-left: 2px" class="col-md-4" required>
            <label for="" class="col-form-label" style="margin-left: 10px">Programa: </label>
            <input type="text" style="margin-left: 5px" class="col-md-4" id="" required>
        </div>
    </div>

    <div class="col-md-12">
        <label for="" class="col-form-label p-2">Empresa de practica: </label>
        <input type="text" style="margin-left: 5px" class="col-md-9" required>
    </div>

    <label class="col-md-12 text-center p-4">Seleccione alguna de las opciones sobre los aspectos a evaluar</label>
    <!-- Table  -->
    <table class="table table-bordered">
        <!-- Table head -->
        <thead>
            <tr>
                <th>
                    <!-- Material unchecked -->
                    <div class="text-center">
                        <label for="">Aspectos a evaluar</label>
                    </div>
                </th>
                <th>Exelente</th>
                <th>Bueno</th>
                <th>Aceptable</th>
                <th>Deficiente</th>
            </tr>
        </thead>
        <!-- Table head -->

        <!-- Table body -->
        <tbody>
            <tr>
                <th scope="row">
                    <!-- Material unchecked -->
                    <div class="text-center">
                        <Label>Apliacion de conceptos y conocimientos</Label>
                    </div>
                </th>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
            </tr>
            <tr>
                <th scope="row">
                    <!-- Material unchecked -->
                    <div class="text-center">
                        <label>Cumplimiento de labores asignadas</label>
                    </div>
                </th>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
            </tr>

            <tr>
                <th scope="row">
                    <!-- Material unchecked -->
                    <div class="text-center">
                        <label>Iniciativa proactiva y creatividad</label>
                    </div>
                </th>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
            </tr>
            <tr>
                <th scope="row">
                    <!-- Material unchecked -->
                    <div class="text-center">
                        <label>Manejo de herramientas</label>
                    </div>
                </th>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
            </tr>
            <tr>
                <th scope="row">
                    <!-- Material unchecked -->
                    <div class="text-center">
                        <label>Actitud y disposicion para el trabajo</label>
                    </div>
                </th>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
            </tr>
            <tr>
                <th scope="row">
                    <!-- Material unchecked -->
                    <div class="text-center">
                        <label>Cumplimiento en el horario</label>
                    </div>
                </th>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
            </tr>
            <tr>
                <th scope="row">
                    <!-- Material unchecked -->
                    <div class="text-center">
                        <label>Valoracion del trabajo por parte de la empresa</label>
                    </div>
                </th>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
            </tr>
            <tr>
                <th scope="row">
                    <!-- Material unchecked -->
                    <div class="text-center">
                        <label>La empresa como centro de practica</label>
                    </div>
                </th>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
                <td><input type="checkbox" id="tableMaterialCheck3"></td>
            </tr>
        </tbody>
        <!-- Table body -->
    </table>
    <!-- Table  -->

    <label class="col-md-12 text-center">¿Qué tan satisfecho quedo con la realización de la práctica
        empresarial?</label>
    <div class="col-md-12 form-inline text-center">
        <div class="radio col-md-3">
            <label><input type="radio" name="optradio">Muy satisfecho</label>
        </div>
        <div class="radio p-2 col-md-3">
            <label><input type="radio" name="optradio">Satisfecho</label>
        </div>
        <div class="radio p-2 col-md-3">
            <label><input type="radio" name="optradio">Poco satisfecho</label>
        </div>
        <div class="radio p-2 col-md-3">
            <label><input type="radio" name="optradio">Nada satisfecho</label>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <label for="" class="col-md-4">¿Por qué?</label>
        <div class="col-md-12 text-center">
            <textarea type="text" name="" class="col-md-12" required></textarea>
        </div>
    </div>
    <label class="col-md-12 text-center">¿Recomienda la empresa para futuras practicas?</label>
    <div class="col-md-12 form-inline text-center">
        <div class="radio p-2 col-md-6">
            <label><input type="radio" name="optradio">Si</label>
        </div>
        <div class="radio p-2 col-md-5">
            <label><input type="radio" name="optradio">No</label>
        </div>
    </div>
    <label class="col-md-12 text-center">¿Hay posibilidad de vinculación laboral?</label>
    <div class="col-md-12 form-inline text-center">
        <div class="radio p-2 col-md-6">
            <label><input type="radio" name="optradio">Si</label>
        </div>
        <div class="radio p-2 col-md-5">
            <label><input type="radio" name="optradio">No</label>
        </div>
    </div>
    <label class="col-md-12 text-center">Qué comentarios o sugerencias tiene</label>
    <div class="col-md-12 text-center">
        <textarea type="text" name="" class="col-md-12" required></textarea>
    </div>
    <div class="col-md-12 form-inline text-center" style="margin-top: 100px">
        <div class="p-4 col-md-6">
            <input type="text" class="signature" />
            <label>Estudiante</label>
        </div>
        <div class="p-4 col-md-6">
            <input type="text" class="signature" />
            <label>Coordinador o Docente de practica</label>
        </div>
    </div>

    <div class="col-md-12 text-center p-4">
        <button type="submit" class="btn btn-success ml-4">Cargar documento</button>
        <button type="submit" class="btn btn-success ml-4">Registrar</button>
        <button type="submit" class="btn btn-success ml-4">Descargar</button>
        <button type="submit" class="btn btn-success ml-4">Inicio</button>
        <button type="reset" class="btn btn-danger ml-4 form-inline">Volver</button>
    </div>
</form>