<div class="container p-3">

    <form (ngSubmit)="addCategory(formNew)" #formNew="ngForm">
        <div class="row">
            <div class="col-md-12 text-center p-4">
                <span>FORMULARIO DE EVALUACIÓN</span>
            </div>
            <div class="col-md-12 text-center p-4">

                <div class="from-group">
                    <label for="" class="col-form-label">Estudiante-Practica:</label>
                    <div class="mb-4">
                            <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="evaluation.id_practica_estudiante"
                            type="text" class="form-control" id="inputAddress"
                            value="1">
                    </div>
                    <label for="" class="col-form-label">Evaluador:</label>
                    <div class=" mb-4">
                        <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="evaluation.nombre_evaluador"
                            type="text" class="form-control" id="inputAddress"
                            placeholder="Ingrese el nombre del evaluador">
                    </div>
                </div>
            </div>

            <label class="col-md-12 text-center">Califique deacuerdo al desempeño del estudiante durante el
                desarrollo
                de su
                practica</label>
            <!-- Selects  -->
            <div class="col-md-4 text-center p-4">
                <div class="form-group">
                    <label for="exampleInputEmail1">Conocimiento:</label>
                    <select [ngModelOptions]="{ standalone: true }" [(ngModel)]="evaluation.comportamiento"
                        class="form-control">
                        <option>Seleccione una opcion</option>
                        <option>Excelente</option>
                        <option>Bueno</option>
                        <option>Aceptable</option>
                        <option>Deficiente</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 text-center p-4">
                <div class="form-group">
                    <label for="exampleInputEmail1">Capacidades:</label>
                    <select [ngModelOptions]="{ standalone: true }" [(ngModel)]="evaluation.capacidades"
                        class="form-control">
                        <option>Seleccione una opcion</option>
                        <option>Excelente</option>
                        <option>Bueno</option>
                        <option>Aceptable</option>
                        <option>Deficiente</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 text-center p-4">
                <div class="form-group">
                    <label for="exampleInputEmail1">Comportamiento:</label>
                    <select [ngModelOptions]="{ standalone: true }" [(ngModel)]="evaluation.comportamiento"
                        class="form-control">
                        <option>Seleccione una opcion</option>
                        <option>Excelente</option>
                        <option>Bueno</option>
                        <option>Aceptable</option>
                        <option>Deficiente</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 text-center p-4">
                <div class="form-group">
                    <label for="exampleInputEmail1">Aptitudes y Actitudes:</label>
                    <select [ngModelOptions]="{ standalone: true }" [(ngModel)]="evaluation.actitud_aptitud"
                        class="form-control">
                        <option>Seleccione una opcion</option>
                        <option>Excelente</option>
                        <option>Bueno</option>
                        <option>Aceptable</option>
                        <option>Deficiente</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 text-center p-4">
                <div class="form-group">
                    <label for="exampleInputEmail1">Imagen:</label>
                    <select [ngModelOptions]="{ standalone: true }" [(ngModel)]="evaluation.imagen"
                        class="form-control">
                        <option>Seleccione una opcion</option>
                        <option>Excelente</option>
                        <option>Bueno</option>
                        <option>Aceptable</option>
                        <option>Deficiente</option>
                    </select>
                </div>
            </div>
            <!-- Selects  -->
            <label class="col-md-12 text-center">¿Qué tan satisfecho quedo con el trabajo del practicante?</label>
            <div class="col-md-12 text-center">
                <div class="form-group">
                    <select [ngModelOptions]="{ standalone: true }" [(ngModel)]="evaluation.satisfaccion"
                        class="form-control">
                        <option>Seleccione una opcion</option>
                        <option>Muy satisfecho</option>
                        <option>Poco satisfecho</option>
                        <option>Nada satisfecho</option>
                        <option>Deficiente</option>
                    </select>
                </div>
                <label for="" class="col-md-4">¿Por qué?</label>
                <div class="col-md-12 text-center">
                    <textarea  [ngModelOptions]="{ standalone: true }" [(ngModel)]="evaluation.porque_satisfaccion" type="text" name="" class="col-md-12" required></textarea>
                </div>
            </div>

            <label class="col-md-12 text-center">¿Hay posibilidad de vinculación laboral?</label>
            <div class="col-md-12 form-inline text-center">
                <div class="radio p-2 col-md-12">
                    <label><input [ngModelOptions]="{ standalone: true }" [(ngModel)]="evaluation.vinculacion_laboral" type="checkbox" name="optradio"></label>
                </div>
            </div>
            <label class="col-md-12 text-center">Qué comentarios o sugerencias tiene</label>
            <div class="col-md-12 text-center">
                <textarea [ngModelOptions]="{ standalone: true }" [(ngModel)]="evaluation.comentario_empresa" type="text" name="" class="col-md-12" required></textarea>
            </div>

            <div class="col-md-12 form-inline text-center" style="margin-top: 100px">
                <div class="p-4 col-md-6">
                    <input type="text" class="signature" />
                    <label>Evaluador(Empresa)</label>
                </div>
                <div class="p-4 col-md-6">
                    <input type="text" class="signature" />
                    <label>Coordinador o Docente de practica</label>
                </div>
            </div>

            <div class="col-md-12 text-center p-4">
                <button type="submit" class="btn btn-success ml-4">Descargar</button>
                <button type="reset" class="btn btn-danger ml-4 form-inline">Volver</button>
            </div>
        </div>
    </form>