<div class="card">
    <h5 class="card-header text-center">CITAS</h5>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Buscar por letra" aria-label="Buscar por letra"
                aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
              </div>
            </div>
  
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Hora</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Estudiante</th>
                  <th scope="col">Programa</th>
                  <th scope="col">Practica o convocatoria</th>
                  <th scope="col">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>10:00 </td>
                  <td>22/09/2019</td>
                  <td>Juan Perez</td>
                  <td>Publicidad</td>
                  <td>Practica 1</td>
                  <td><a href="#">Editar</a></td>
                </tr>
                <tr>
                  <td>12:00 </td>
                  <td>22/09/2019</td>
                  <td>Daniel Gonzales</td>
                  <td>Ingenieria de software</td>
                  <td>Practica 5</td>
                  <td><a href="#">Editar</a></td>
                </tr>
                <tr>
                  <td>11:00 </td>
                  <td>25/09/2019</td>
                  <td>Ivan Garcia</td>
                  <td>Ingenieria industrial</td>
                  <td>Practica 3</td>
                  <td><a href="#">Editar</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="place-content: center;">
      <div class="btn-group mr-2 " role="group" aria-label="First group">
        <button type="button" class="btn btn-secondary">1</button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">3</button>
        <button type="button" class="btn btn-secondary">4</button>
      </div>
    </div>
  </div>
