<nav class="text-center navbar navbar-ligth bg-ligth">
    <a class="navbar-brand ">
        <img src="../assets/EAM.png" width="125" height="63" alt="">
    </a>
</nav>

<form class="container">

    <div class="row">
        <div class="col-2">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="" style="text-align: center">
                Restablecer Contaseña
            </h1>
        </div>
    </div>


   <br>
   <br>
        <span class="help-block">
            Para restablecer la contraseña de usuario debe
            <br>
            diligenciar el campo y se le enviar al correo el link de restablecimiento
        </span>
        <div class="row">
            <div class="col-6">
                <input class="form-control" placeholder="Email" name="email" type="email" required="">
            </div>

        </div>
        <div class="row">
            <div class="col-5-sm-5">
                <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
                    Enviar
                </button>
            </div>
        </div>
        
  

    <div class="row">
        <div class="col-2">
        </div>
    </div>
</form>