<div class="container pt-5 pb-5">
    <div class="card">
        <div class="card-header bg-primary text-light font-weight-bold h5">
            Solicitud de Estudiante
        </div>
        <div class="card-body p-5">
            <form [formGroup]="solicitud" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="form-group col row">
                        <div class="col-1">
                            <label for="nit" class="text-right">NIT</label>
                        </div>
                        <div class="col-11">
                            <input formControlName="nit" type="text" class="form-control" id="nit"
                                [ngClass]="{ 'is-invalid': submited && f.nit.errors }" placeholder="NIT de la empresa">
                            <div *ngIf="submited && f.nit.errors" class="invalid-feedback">
                                <div *ngIf="f.nit.errors.required">Debe ingresar el NIT de la empresa</div>
                            </div>
                            <button class="btn btn-primary" (click)="clickAddTodo()">Buscar empresa</button>
                        </div>
                    </div>
                    <div class="form-group col row">
                        <div class="col-2 align-self-center">
                            <label for="nombre_empresa">Nombre de empresa</label>
                        </div>
                        <div class="col-10">
                            <input formControlName="nombreEmpresa" type="text" class="form-control"
                                [ngClass]="{ 'is-invalid': submited && f.nombreEmpresa.errors }"
                                placeholder="Nombre de la empresa">
                            <div *ngIf="submited && f.nombreEmpresa.errors" class="invalid-feedback">
                                <div *ngIf="f.nombreEmpresa.errors.required">Debe ingresar el nombre de la empresa</div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="form-group col row">
                        <div class="col-2 align-self-center">
                            <label class="text-right">Sector</label>
                        </div>
                        <div class="col align-items-start">
                            <div class="radio" *ngFor="let sector of sectores">
                                <label><input type="radio" value="{{sector.id}}"
                                        formControlName="sector">{{sector.name}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col row">
                        <div class="col-2 align-self-center">
                            <label class="text-left">Tipo de persona</label>
                        </div>
                        <div class="col align-items-start align-self-center">
                            <div class="radio" *ngFor="let tipoPersona of tiposPersona">
                                <label><input type="radio" formControlName="tipoPersona"
                                        value="{{tipoPersona.id}}">{{tipoPersona.name}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col row">
                        <div class="col-2 align-self-center">
                            <label class="text-right">Tipo de sociedad</label>
                        </div>
                        <div class="col align-items-start">
                            <div class="radio" *ngFor="let sociedad of tiposSociedad">
                                <label><input type="radio" formControlName="tipoSociedad"
                                        value="{{sociedad.id}}">{{sociedad.name}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col row align-self-center">
                        <div class="form-group col row">
                            <div class="col-4">
                                <label for="nombre_empresa">Sociedad en comandita</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" formControlName="sociedadComandita"
                                    placeholder="Sociedad en comandita"
                                    [ngClass]="{ 'is-invalid': submited && f.sociedadComandita.errors }">
                                <div *ngIf="submited && f.sociedadComandita.errors" class="invalid-feedback">
                                    <div *ngIf="f.sociedadComandita.errors.required">Debe ingresar sociedad en comandita
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col row">
                        <div class="col-3">
                            <label>Fecha de registro con camara de comercio</label>
                        </div>
                        <div class="col-3">
                            <input class="form-control" formControlName="fechaRegCamaraComercio" type="date"
                                [ngClass]="{ 'is-invalid': submited && f.fechaRegCamaraComercio.errors }">
                            <div *ngIf="submited && f.fechaRegCamaraComercio.errors" class="invalid-feedback">
                                <div *ngIf="f.fechaRegCamaraComercio.errors.required">Debe ingresar la fecha de registro
                                    con camara de comercio</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                <div class="row">
                    <div class="form-group col row">
                        <div class="col">
                            <p class="text-right">Nombre y apellido del representante legal</p>
                        </div>
                        <div class="col">
                            <input class="form-control" formControlName="nombreRepLegal" type="text"
                                [ngClass]="{ 'is-invalid': submited && f.nombreRepLegal.errors }"
                                placeholder="Nombre y apellido del representante legal">
                            <div *ngIf="submited && f.nombreRepLegal.errors" class="invalid-feedback">
                                <div *ngIf="f.nombreRepLegal.errors.required">Debe ingresar el nombre y el apellido del
                                    representante legal</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col row">
                        <div class="col">
                            <p class="text-right">Dirección de la empresa</p>
                        </div>
                        <div class="col">
                            <input class="form-control" formControlName="direccionEmpresa" type="text"
                                [ngClass]="{ 'is-invalid': submited && f.direccionEmpresa.errors }"
                                placeholder="Dirección de la empresa">
                            <div *ngIf="submited && f.direccionEmpresa.errors" class="invalid-feedback">
                                <div *ngIf="f.direccionEmpresa.errors.required">Debe ingresar la dirección de la empresa
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col row">
                        <div class="col">
                            <p class="text-right">Telefono fijo</p>
                        </div>
                        <div class="col">
                            <input class="form-control" formControlName="telefonoFijo" type="tel"
                                [ngClass]="{ 'is-invalid': submited && f.telefonoFijo.errors }"
                                placeholder="Telefono fijo">
                            <div *ngIf="submited && f.telefonoFijo.errors" class="invalid-feedback">
                                <div *ngIf="f.telefonoFijo.errors.required">Debe ingresar el telefono fijo
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col row">
                        <div class="col">
                            <p class="text-right">Celular</p>
                        </div>
                        <div class="col">
                            <input class="form-control" formControlName="celular" type="tel"
                                [ngClass]="{ 'is-invalid': submited && f.celular.errors }"
                                placeholder="Telefono celular">
                            <div *ngIf="submited && f.celular.errors" class="invalid-feedback">
                                <div *ngIf="f.celular.errors.required">Debe ingresar el telefono celular
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col row">
                        <div class="col">
                            <p class="text-right">Departamento</p>
                        </div>
                        <div class="col">
                            <select class="form-control" formControlName="departamento" (change)="cambiarCiudades()"
                                [ngClass]="{ 'is-invalid': (submited && f.departamento.errors) || (sumited && f.departamento.value === '') }">
                                <option value="">Seleccione un departamento</option>
                                <option *ngFor="let departamento of departamentos" value="{{departamento.id}}">
                                    {{departamento.name}}</option>
                            </select>
                            <div *ngIf="(submited && f.departamento.errors) || (sumited && f.departamento.value === '')"
                                class="invalid-feedback">
                                <div *ngIf="f.departamento.errors.required">Debe seleccionar el departamento donde se
                                    localiza la empresa
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col row">
                        <div class="col">
                            <p class="text-right">Ciudad</p>
                        </div>
                        <div class="col">
                            <select class="form-control" formControlName="ciudad"
                                [ngClass]="{ 'is-invalid': (submited && f.ciudad.errors) || (sumited && f.ciudad.value === '') }">
                                <option value="">Seleccione una ciudad</option>
                                <option *ngFor="let ciudad of ciudades" value="{{ciudad.id}}">
                                    {{ciudad.name}}</option>
                            </select>
                            <div *ngIf="(submited && f.ciudad.errors) || (sumited && f.ciudad.value === '')"
                                class="invalid-feedback">
                                <div *ngIf="f.ciudad.errors.required">Debe seleccionar la ciudad donde se localiza la
                                    empresa
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col row">
                        <div class="col">
                            <p class="text-right">Correo</p>
                        </div>
                        <div class="col">
                            <input class="form-control" formControlName="correo" type="email"
                                [ngClass]="{ 'is-invalid': submited && f.correo.errors }" placeholder="Correo">
                            <div *ngIf="submited && f.correo.errors" class="invalid-feedback">
                                <div *ngIf="f.correo.errors.required">Debe ingresar el correo
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col row">
                        <div class="col">
                            <p class="text-right">Descripción del negocio</p>
                        </div>
                        <div class="col">
                            <textarea formControlName="descripcionNegocio" class="form-control"
                                [ngClass]="{ 'is-invalid': submited && f.descripcionNegocio.errors }"
                                placeholder="Descripción del negocio"></textarea>
                            <div *ngIf="submited && f.descripcionNegocio.errors" class="invalid-feedback">
                                <div *ngIf="f.descripcionNegocio.errors.required">Debe ingresar la descripción del negocio
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col row">
                        <div class="col">
                            <p class="text-right">¿Como conocio la empresa?</p>
                        </div>
                        <div class="col">
                            <textarea formControlName="comoConocioEmpresa" class="form-control"
                            [ngClass]="{ 'is-invalid': submited && f.comoConocioEmpresa.errors }"
                                placeholder="¿Como conocio la empresa?"></textarea>
                            <div *ngIf="submited && f.comoConocioEmpresa.errors" class="invalid-feedback">
                                <div *ngIf="f.comoConocioEmpresa.errors.required">Debe ingresar como conocio a la empresa
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col row">
                        <div class="col">
                            <p class="text-right">Tipo de practica</p>
                        </div>
                        <div class="col align-items-start">
                            <div class="radio" *ngFor="let practica of tiposPractica">
                                <label><input type="radio" formControlName="tipoPractica"
                                        value="{{practica.id}}">{{practica.name}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col offset-10">
                        <button class="btn btn-outline-primary">Crear Solicitud</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>