<div class="card ">
    <div class="container">
        <form (ngSubmit)="registerPractice(formNew)" #formNew="ngForm" class="p-3">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Encargado: </label><br>
                    <label> {{ practice.representative}}</label>
                </div>
                <div class="form-group col-md-4">
                    <label>Empresa: </label>
                    <br>
                    <label> {{ practice.nit}}</label>
                </div>
                <div class="form-group col-md-4">
                    <label>Tipo Practica: </label>
                    <br>
                    <label> {{ practice.typepra}}</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Cedula:</label>
                <div class="col-sm-10">
                    <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="filterIdentifier" type="text" class="form-control" id="inputAddress" placeholder="Ingrese cedula a buscar...">
                </div>
            </div>


            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Ciclo</th>
                        <th scope="col">Programa</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Seleccionado</th>
                    </tr>
                </thead>
                <tbody *ngFor="let student of students | filtrarCedula: filterIdentifier">
                    <tr>
                        <td>{{student.name}}</td>
                        <td>{{student.cicle}}</td>
                        <td>{{student.program}}</td>
                        <td>{{student.identifier}}</td>
                        <td>{{student.age}}</td>
                        <td>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button type="submit" id="registrar" class="btn btn-outline-primary">Registrar
                inicio
                practica</button>
            <button type="submit" id="cancelar" class="btn btn-outline-danger">Cancelar</button>

        </form>
    </div>
</div>