<div class="col-md-12 text-center p-4 form-inline">
    <label for="">Codigo:</label>
    <span class="ml-4">xxxxxx</span>
    <label for="" class="ml-4">Fecha:</label>
    <span class="ml-4">AAAA/MM/DD</span>
    <label class="col-md-12">Informacion del estudiante</label>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">N° documento</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mariana</td>
            <td>Restrepo</td>
            <td>1092494245</td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Programa</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ing Software</td>
            <td>Calle 22 # 4</td>
            <td>55555555</td>
        </tr>
    </tbody>
</table>

<div class="col-md-12 text-center p-4">
    <label class="col-md-12">Informacion de la empresa</label>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Razón social</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>8923434asd24</td>
            <td>Calle 22 # 4</td>
            <td>7827374</td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nombre contacto</th>
            <th scope="col">Cargo</th>
            <th scope="col">Celular</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>John Quirama</td>
            <td>Gerente</td>
            <td>3165452746</td>
        </tr>
    </tbody>
</table>


<div class="col-md-12 text-center p-4">
    <label class="col-md-12">Observación</label>
</div>
<textarea class="col-md-12"></textarea>

<div class="col-md-12 form-inline text-center" style="margin-top: 100px">
    <div class="p-4 col-md-6">
        <input type="text" class="signature" />
        <label>Atiende visita</label>
    </div>
    <div class="p-4 col-md-6">
        <input type="text" class="signature" />
        <label>Realiza visita</label>
    </div>
</div>

<div class="col-md-12 text-center p-4">
    <button type="submit" class="btn btn-success ml-4">Crear</button>
    <button type="reset" class="btn btn-warning ml-4 form-inline" onclick="window.print();">Crear imprimir</button>
</div>