<div class="container pt-5 pb-5">
    <div class="card">
        <div class="card-header bg-primary text-light font-weight-bold h5">
            Solicitud de homologacion
        </div>
        <div class="card-body p-5 col-md-12">
            <form [formGroup]="solicitudHomo" (ngSubmit)="registerHomologation()">
                <div class="row">
                    <div class="form-group col row">
                        <div class="col-md-4 col-form-label">
                            <label>Fecha</label>
                        </div>
                        <div class="col-md-8 mb-4">
                            <input class="form-control" formControlName="date" type="date"
                                [ngClass]="{ 'is-invalid': submited && f.fecha.errors }">
                            <div *ngIf="submited && f.date.errors" class="invalid-feedback">
                                <div *ngIf="f.date.errors.required">Debe ingresar la fecha de la solicitud de
                                    homologacion</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col row">
                        <div class="col-md-4 col-form-label">
                            <p class="text-right">Ciclo que solicita homologacion</p>
                        </div>
                        <div class="col-md-8 mb-4">
                            <select name="" id="" class="form-control" formControlName="cycle" required>
                                <option value="0">-Seleccione-</option>
                                <option *ngFor="let cycle of cycle" value="{{cycle.id}}">
                                    {{cycle.nombre}}
                                </option>
                            </select>
                            <div *ngIf="(submited && f.cycle.errors) || (sumited && f.cycle.value === '')"
                                class="invalid-feedback">
                                <div *ngIf="f.cycle.errors.required">Debe seleccionar un ciclo valido
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col row">
                        <div class="col-md-4 col-form-label">
                            <p class="text-left">Programa Academico</p>
                        </div>
                        <div class="col-md-8 mb-4">
                            <select name="" id="" class="form-control" formControlName="programer_id" required>
                                <option value="0">-Seleccione-</option>
                                <option *ngFor="let programer_id of programs" value="{{programer_id.id}}">
                                    {{programer_id.nombre}}
                                </option>
                            </select>
                            <div *ngIf="(submited && f.programer_id.errors) || (sumited && f.programer_id.value === '')"
                                class="invalid-feedback">
                                <div *ngIf="f.programer_id.errors.required">Debe seleccionar un programa valido
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col row">
                        <div class="col-md-4 col-form-label">
                            <label>Nombre Estudiante</label>
                        </div>
                        <div class="col-md-8 mb-4">
                            <input class="form-control" formControlName="student_name" type="text"
                                [ngClass]="{ 'is-invalid': submited && f.student_name.errors }">
                            <div *ngIf="submited && f.student_name.errors" class="invalid-feedback">
                                <div *ngIf="f.student_name.errors.required">Debe ingresar el nombre estudiante
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col row">
                        <div class="col-md-4 col-form-label">
                            <p class="text-left">Tipo ID</p>
                        </div>
                        <div class="col-md-8 mb-4">
                            <select name="" id="" class="form-control" formControlName="type_id" required>
                                <option value="0">-Seleccione-</option>
                                <option *ngFor="let type_id of type_id" value="{{type_id.id}}">
                                    {{type_id.nombre}}
                                </option>
                            </select>
                            <div *ngIf="(submited && f.type_id.errors) || (sumited && f.type_id.value === '')"
                                class="invalid-feedback">
                                <div *ngIf="f.type_id.errors.required">Debe seleccionar un tipo de identificacion
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col row">
                        <div class="col-md-4 col-form-label">
                            <label>Numero</label>
                        </div>
                        <div class="col-md-8 mb-4">
                            <input class="form-control" formControlName="number_id" formControlName="number_id" type="number"
                                [ngClass]="{ 'is-invalid': submited && f.number_id.errors }">
                            <div *ngIf="submited && f.number_id.errors" class="invalid-feedback">
                                <div *ngIf="f.number_id.errors.required">Debe ingresar el numero
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col row">
                        <div class="col-md-4 col-form-label">
                            <label>Codigo</label>
                        </div>
                        <div class="col-md-8 mb-4">
                            <input class="form-control" formControlName="code" type="number"
                                [ngClass]="{ 'is-invalid': submited && f.code.errors }">
                            <div *ngIf="submited && f.code.errors" class="invalid-feedback">
                                <div *ngIf="f.code.errors.required">Debe ingresar el codigo del estudiante
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col row">
                        <div class="col-md-4 col-form-label">
                            <label>Email</label>
                        </div>
                        <div class="col-md-8 mb-4">
                            <input class="form-control" formControlName="email" type="email"
                                [ngClass]="{ 'is-invalid': submited && f.email.errors }">
                            <div *ngIf="submited && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Debe ingresar el email del estudiante
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col row">
                        <div class="col-md-4 col-form-label">
                            <label>Telefono </label>
                        </div>
                        <div class="col-md-8 mb-4">
                            <input class="form-control" formControlName="phone" type="number"
                                [ngClass]="{ 'is-invalid': submited && f.phone.errors }">
                            <div *ngIf="submited && f.phone.errors" class="invalid-feedback">
                                <div *ngIf="f.phone.errors.required">Debe ingresar el telefono del estudiante
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col row">
                        <div class="col-md-4 col-form-label">
                            <label>Funciones desempeñadas del estudiante</label>
                        </div>
                        <div class="col-md-8 mb-4 ">
                            <input class="form-control" formControlName="function_company" type="text"
                                [ngClass]="{ 'is-invalid': submited && f.function_company.errors }">
                            <div *ngIf="submited && f.function_company.errors" class="invalid-feedback">
                                <div *ngIf="f.function_company.errors.required">Debe ingresar las funcionalidades del
                                    estudiante
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col row">
                        <div class="col-md-4 col-form-label">
                            <label>Empresa</label>
                        </div>
                        <div class="col-md-8 mb-4">
                            <input class="form-control" formControlName="company" type="text"
                                [ngClass]="{ 'is-invalid': submited && f.company.errors }">
                            <div *ngIf="submited && f.company.errors" class="invalid-feedback">
                                <div *ngIf="f.company.errors.required">Debe ingresar el nombre de la empresa
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col row">
                        <div class="col-md-4 col-form-label">
                            <label>Direccion </label>
                        </div>
                        <div class="col-md-8 mb-4">
                            <input class="form-control" formControlName="address" type="text"
                                [ngClass]="{ 'is-invalid': submited && f.address.errors }">
                            <div *ngIf="submited && f.address.errors" class="invalid-feedback">
                                <div *ngIf="f.address.errors.required">Debe ingresar la direccion de la empresa
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col row">
                        <div class="col-md-4 col-form-label">
                            <p>Departamento</p>
                        </div>
                        <div class="col-md-8 mb-4">
                            <select class="form-control" formControlName="department" (change)="cambiarCiudades()"
                                [ngClass]="{ 'is-invalid': (submited && f.department.errors) || (sumited && f.department.value === '') }">
                                <option value="">Seleccione un departamento</option>
                                <option *ngFor="let department of departments" value="{{department.id}}">
                                    {{department.name}}</option>
                            </select>
                            <div *ngIf="(submited && f.department.errors) || (sumited && f.department.value === '')"
                                class="invalid-feedback">
                                <div *ngIf="f.department.errors.required">Debe seleccionar el departamento donde se
                                    localiza la empresa
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col row">
                        <div class="col-md-4 col-form-label">
                            <p>Ciudad</p>
                        </div>
                        <div class="col-md-8 mb-4">
                            <select class="form-control" formControlName="city"
                                [ngClass]="{ 'is-invalid': (submited && f.city.errors) || (sumited && f.city.value === '') }">
                                <option value="">Seleccione una ciudad</option>
                                <option *ngFor="let city of cities" value="{{city.id}}">
                                    {{city.name}}</option>
                            </select>
                            <div *ngIf="(submited && f.city.errors) || (sumited && f.city.value === '')"
                                class="invalid-feedback">
                                <div *ngIf="f.city.errors.required">Debe seleccionar la ciudad donde se localiza la
                                    empresa
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col row">
                        <div class="col-md-4 col-form-label">
                            <label>Telefono empresa </label>
                        </div>
                        <div class="col-md-8 mb-4">
                            <input class="form-control" formControlName="company_phone" type="number"
                                [ngClass]="{ 'is-invalid': submited && f.company_phone.errors }">
                            <div *ngIf="submited && f.company_phone.errors" class="invalid-feedback">
                                <div *ngIf="f.company_phone.errors.required">Debe ingresar el telefono de la empresa
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col row">
                        <div class="col-md-4 col-form-label">
                            <label>Jefe </label>
                        </div>
                        <div class="col-md-8 mb-4">
                            <input class="form-control" formControlName="boss_company" type="text"
                                [ngClass]="{ 'is-invalid': submited && f.boss_company.errors }">
                            <div *ngIf="submited && f.boss_company.errors" class="invalid-feedback">
                                <div *ngIf="f.boss_company.errors.required">Debe ingresar el nombre del jefe de la empresa
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col row">
                        <div class="col-md-4 col-form-label">
                            <label>Cargo </label>
                        </div>
                        <div class="col-md-8 mb-4">
                            <input class="form-control" formControlName="position" type="text"
                                [ngClass]="{ 'is-invalid': submited && f.position.errors }">
                            <div *ngIf="submited && f.position.errors" class="invalid-feedback">
                                <div *ngIf="f.position.errors.required">Debe ingresar el telefono de la empresa
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col row">
                        <div class="col-md-4 col-form-label">
                            <label>Email empresa </label>
                        </div>
                        <div class="col-md-8 mb-4">
                            <input class="form-control" formControlName="email_company" type="email"
                                [ngClass]="{ 'is-invalid': submited && f.email_company.errors }">
                            <div *ngIf="submited && f.email_company.errors" class="invalid-feedback">
                                <div *ngIf="f.email_company.errors.required">Debe ingresar el email de la empresa
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col row">
                        <div class="col-md-4 col-form-label">
                            <label>Telefono contacto</label>
                        </div>
                        <div class="col-md-8 mb-4">
                            <input class="form-control" formControlName="phone_contact"
                                [ngClass]="{ 'is-invalid': submited && f.phone_contact.errors }" type="number">
                            <div *ngIf="submited && f.phone_contact.errors" class="invalid-feedback">
                                <div *ngIf="f.phone_contact.errors.required">Debe ingresar el telefono de contacto
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-success">Crear Solicitud</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>